.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  .formWrapper {
    align-items: center;
    background-color: #fff;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 10px 10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    position: relative;
    width: 30rem;
  }
  .loginContent {
    padding: 1rem;
    width: 100%;
  }
}
