.btnCollapsed {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}
.slider {
  background-color: #fff;
  box-shadow: 0 10px 10px -5px;
  :global {
    .ant-menu-item {
      margin: 0 0 !important;
    }
  }
}
.menuItem {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent !important;
  span {
    height: max-content;
  }
  p {
    margin-bottom: 0;
  }
  :global {
    .ant-menu-item .ant-menu-item-icon {
      min-width: 20px !important;
      font-size: 20px !important;
    }
  }
}
